<section id="competition" class="competition">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 style="font-family: 'Playfair Display SC', serif;font-weight: 500;font-size: 60px;color: steelblue;">2017 Competition Map</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="competition-item">
              <a href="/competition/2017/team.html">
                <img class="img-competition img-responsive" src="img/competition/2017/team.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="competition-item">
              <a href="/competition/2017/groupround.html">
                <img class="img-competition img-responsive" src="img/competition/2017/group.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="competition-item">
              <a href="/competition/2017/playoff.html">
                <img class="img-competition img-responsive" src="img/competition/2017/playoff.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="competition-item">
              <a href="/competition/2017/championship.html">
                <img class="img-competition img-responsive" src="img/competition/2017/championship.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
